# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Build products and directories
*.lst
*.err
*.hex
build

## AVR_SIM project files
*.pro

# One-of-a-kind ignores
BugReport*.*
Ignore
.~*
